html,body,span,div,p,h1,h2,h3,h4,h5,h6,a,
ul,li,ol,dl,dt,dd,table,strong,b,i,em,select,
option,var,img,input,textarea,caption,tr,th,td,
thead,tbody,form,frameset,frame,iframe,label{
	margin: 0;padding: 0;
}
body{
	font:14px Arial,'微软雅黑','宋体';
}
i,var,em{
	font-style: normal;
}
strong,b{
	font-weight: 400;
}
a{
	text-decoration: none;
	color: #333;
}
li{
	list-style: none;
}
img{/* 低版本浏览器a标签嵌套img  img会有边框 */
	border:0;
}
input,select,textarea{
	outline: none;
}
textarea{
	resize:none;
}
.clearfix::after{
	content:'';
	display: block;
	clear: both;
}